<p>
    <div class="ui mini input">
        <label>
          필터:
          <input type="text" size="30" ng-model="filterStr" autocorrect="off" autocomplete="off" spellcheck="false">
        </label>
        &nbsp;
        <button ng:click="filterStr = ''" class="ui mini button">Clear</button>
    </div>
</p>

<table id="list" cellspacing="0" class="ui table striped sortable unstackable" sticky-table>
    <thead>
    <tr>
        <th><a ng-click="sortBy = 'level'; sortReverse = !sortReverse">레벨</a></th>
        <th><a ng-click="sortBy = 'name'; sortReverse = !sortReverse">이름</a></th>
        <th><a ng-click="sortBy = 'arcana'; sortReverse = !sortReverse">아르카나</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'strength'; sortReverse = !sortReverse">힘</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'magic'; sortReverse = !sortReverse">마</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'endurance'; sortReverse = !sortReverse">내</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'agility'; sortReverse = !sortReverse">속</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'luck'; sortReverse = !sortReverse">운</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'physicalValue'; sortReverse = !sortReverse">물</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'gunValue'; sortReverse = !sortReverse">총</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'fireValue'; sortReverse = !sortReverse">화</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'iceValue'; sortReverse = !sortReverse">빙</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'electricValue'; sortReverse = !sortReverse">전</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'windValue'; sortReverse = !sortReverse">풍</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'psychicValue'; sortReverse = !sortReverse">염</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'nuclearValue'; sortReverse = !sortReverse">핵</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'blessValue'; sortReverse = !sortReverse">축</a></th>
        <th class="mobile-hidden"><a ng-click="sortBy = 'curseValue'; sortReverse = !sortReverse">주</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng:repeat="persona in fullPersonaList | orderBy:sortFunc:sortReverse | filter:filterStr">
        <td>{{persona.level}}</td>
        <td class="left-border"><a href='#/persona/{{persona.name}}'>{{persona.name}}</a></td>
        <td class="left-border">{{persona.arcana}}</td>

        <td class="mobile-hidden left-border">{{persona.strength}}</td>
        <td class="mobile-hidden">{{persona.magic}}</td>
        <td class="mobile-hidden">{{persona.endurance}}</td>
        <td class="mobile-hidden">{{persona.agility}}</td>
        <td class="mobile-hidden">{{persona.luck}}</td>
        <td class="mobile-hidden left-border {{persona.physical}}">{{persona.physical}}</td>
        <td class="mobile-hidden {{persona.gun}}">{{persona.gun}}</td>
        <td class="mobile-hidden {{persona.fire}}">{{persona.fire}}</td>
        <td class="mobile-hidden {{persona.ice}}">{{persona.ice}}</td>
        <td class="mobile-hidden {{persona.electric}}">{{persona.electric}}</td>
        <td class="mobile-hidden {{persona.wind}}">{{persona.wind}}</td>
        <td class="mobile-hidden {{persona.psychic}}">{{persona.psychic}}</td>
        <td class="mobile-hidden {{persona.nuclear}}">{{persona.nuclear}}</td>
        <td class="mobile-hidden {{persona.bless}}">{{persona.bless}}</td>
        <td class="mobile-hidden {{persona.curse}}">{{persona.curse}}</td>
    </tr>
    </tbody>
</table>
